<a href="https://colab.research.google.com/github/m-sarfraz/dashboard/blob/dashboard/final_USVR_products.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Importing Libraries for Code***

In [1]:
# Important Libraries
import pandas as pd
import numpy as np
import sklearn
from sklearn.decomposition import TruncatedSVD
import warnings

***Importing first CSV file***

1.   First file containing the data of Video Details is imported
2.   Attributes which are not needed right now are droped for accuracy  and optimization of algorithm.
3.   View can be seen through head function()

In [4]:
products = pd.read_csv(r'ProductDetail.csv', sep=',')
products = products.iloc[:, :10]
products = products.drop(columns=['Category-id', 'Product-code','Product-color','description','care','status','price','weight'])
products.head(10)

   product_id Product-name
0          50       moto 1
1          49     huawe 88
2          48    huawei 89
3          47    huawei 90
4          46    huawei 91
5          45    huawei 92
6          44    huawei 93
7          43    huawei 93
8          42    huawei 94
9          41    huawei 95

***Shaping Data***
video data is shaped for matrix factorization algorithm.

In [ ]:
videos.shape

(48, 5)

***Importnig Second File***

1.   File containing the data of User/Likes/Views Details is imported
2.   Attributes which are not needed right now are droped for accuracy  and optimization of algorithm.
3.   View can be seen through head function()

In [6]:
        ratings = pd.read_csv(r'ProductCart.csv', sep=',')
        ratings = ratings.iloc[:, :11]
        ratings.head(20)

    id  product_id  ...                    user_email  session_id
0    1          19  ...  muhammadsarfraz531@gmail.com         1.0
1    2          18  ...  muhammadsarfraz531@gmail.com         1.0
2    3           4  ...  muhammadsarfraz531@gmail.com         1.0
3    4          50  ...                   a@gmail.com         2.0
4    5          49  ...                   b@gmail.com         3.0
5    6          48  ...                   c@gmail.com         4.0
6    7          47  ...                   d@gmail.com         5.0
7    8          46  ...                   e@gmail.com         6.0
8    9          45  ...                   f@gmail.com         7.0
9   10          44  ...                   g@gmail.com         8.0
10  11          43  ...                   h@gmail.com         9.0
11  12          42  ...                   i@gmail.com        10.0
12  13          41  ...                   j@gmail.com        11.0
13  14          40  ...                   k@gmail.com        12.0
14  15          39  ...                   l@gmail.com        13.0
15  16          38  ...                   m@gmail.com        14.0
16  17          37  ...                   n@gmail.com        15.0
17  19          36  ...                   o@gmail.com        16.0
18  20          35  ...                   a@gmail.com         2.0
19  21          34  ...                   b@gmail.com         3.0

[20 rows x 11 columns]

***Shaping Data***

In [7]:
ratings.shape

(34, 11)

***Merging Data***

csv files are merged for matrix factorzation algorithm, which willhelp shaping the matrix.

In [10]:
df = pd.merge(products, ratings, on ='product_id')
df1= df.drop_duplicates(['product_id','Product-name'])
df1= df.drop_duplicates(['Product-name','session_id'])
df1.head(10)

   product_id Product-name  id  ... quantity   user_email session_id
0          50       moto 1   4  ...      1.0  a@gmail.com        2.0
1          49     huawe 88   5  ...      2.0  b@gmail.com        3.0
2          48    huawei 89   6  ...      3.0  c@gmail.com        4.0
3          47    huawei 90   7  ...      4.0  d@gmail.com        5.0
4          46    huawei 91   8  ...      5.0  e@gmail.com        6.0
5          45    huawei 92   9  ...      4.0  f@gmail.com        7.0
6          44    huawei 93  10  ...      3.0  g@gmail.com        8.0
7          43    huawei 93  11  ...      2.0  h@gmail.com        9.0
8          42    huawei 94  12  ...      1.0  i@gmail.com       10.0
9          41    huawei 95  13  ...      2.0  j@gmail.com       11.0

[10 rows x 12 columns]

In [11]:
        df1.shape

(34, 12)

In [13]:
#MATRIX FACTORIZATION
products_matrix = df.pivot_table(index = 'session_id', columns = 'product_id', values= 'rating').fillna(0)
products_matrix.head()
products_matrix.shape

(17, 33)

In [15]:
X = products_matrix.values.T
X.shape

(33, 17)

**SVD**

When it comes to dimensionality reduction, the Singular Value Decomposition (SVD) is a popular method in linear algebra for matrix factorization in machine learning. Such a method shrinks the space dimension from N-dimension to K-dimension (where K<N) and reduces the number of features. SVD constructs a matrix with the row of users and columns of items and the elements are given by the usersâ€™ ratings. Singular value decomposition decomposes a matrix into three other matrices and extracts the factors from the factorization of a high-level (user-item-rating) matrix.

In [16]:
SVD = TruncatedSVD(n_components=12, random_state=100)
matrix = SVD.fit_transform(X)
matrix.shape

(33, 12)

In [18]:
SVD = TruncatedSVD(n_components=12, random_state=100)
matrix = SVD.fit_transform(X)
matrix.shape

(33, 12)

In [19]:
import warnings
warnings.filterwarnings("ignore",category =RuntimeWarning)

In [22]:
corr = np.corrcoef(matrix)
corr.shape

(33, 33)

In [23]:
title = products_matrix.columns
title_list = list(title)
new_user = title_list.index(21)
corr_new_user  = corr[new_user]

***Visit for details***

https://towardsdatascience.com/recommender-system-singular-value-decomposition-svd-truncated-svd-97096338f361

In [26]:
   # Correlation coeficient
title = products_matrix.columns


print('             |***************************************************|')
print('             |************ALGORITHM RESULT IS HERE***************|')
print('             |***************************************************|')
title_list = list(title)
print ('from list of refined matrixes values of User/products/# of bought:')
print('*******************************')
print (title_list)
print('*******************************')
print ('for new each new user at index:')
new_user = title_list.index(21)
corr_new_user  = corr[new_user]
print('*******************************')
print (corr_new_user)
print('*******************************')
print ('Array of Similar Products will be on indexes:')
print('*******************************')
print(list(title[(corr_new_user >=0.1)]))
print('            ****************************************************************************')
print('            *** You Can Change Data from CSV File to view Different Result Good Luck ***')
print('            ****************************************************************************')

             |***************************************************|
             |************ALGORITHM RESULT IS HERE***************|
             |***************************************************|
from list of refined matrixes values of User/products/# of bought:
*******************************
[4, 18, 19, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
*******************************
for new each new user at index:
*******************************
[-0.11337263 -0.11337263 -0.11337263  1.         -0.27084319 -0.11498562
  0.21910096 -0.00845309  0.39234372 -0.10855247  0.77689597 -0.14948706
  0.27084319 -0.31316038  0.11619824 -0.21379261 -0.23215992  0.03751055
  0.09246166 -0.27084319 -0.12282047  0.01278733 -0.00845309  0.39234372
 -0.10855247  0.77689597 -0.14948706  0.27084319 -0.31316038  0.11619824
 -0.21379261 -0.23215992  0.03751055]
*******************************
Array of Similar Products will be on indexes:
*******************************
[21, 24, 26, 28, 30, 32, 41, 43, 45, 47]
            ****************************************************************************
            *** You Can Change Data from CSV File to view Different Result Good Luck ***
            ****************************************************************************